*{
	margin: 0;
	padding: 0;
}

table{
	width: 95%;
	border: 1px solid black;
	border-collapse: collapse;
	margin: 0 auto;
}

table>thead{
	background: #369;
}

table>tfoot{
	background: #369;
}

table>tbody>tr:nth-child(odd){
	background: #cdcdcd;
}

table>tbody>tr:hover{
	background: #b2578a;
}

table tr{
	height: 35px;
}

table tr>td{
	border: 1px solid black;
	text-align: center;
}

.btn{
	width: 75px;
	height: 23px;
	vertical-align: middle;
	overflow: hidden;
	margin-right: 3px;
	padding: 0;
	border: 1px solid #999;
	background: #e5e5e5 repeat-x 0 0;
	cursor: pointer;
}

.text{
	width: 80%;
	height: 17px;
	padding: 2px 4px;
	line-height: 17px;
	border: 1px solid;
	border-color: #848484 #e0e0e0 #e0e0e0 #848484;
	background: #FFF url(../img/px.png) repeat-x 0 0;
}




